@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'New Frank Regular';
    src: url('../fonts/Frank-Regular.woff2') format('woff2'),
        url('../fonts/Frank-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'New Frank Bold';
    src: url('../fonts/Frank-Bold.woff2') format('woff2'),
        url('../fonts/Frank-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Capitolium2 Regular';
    src: url('../fonts/capitolium2-regular.woff2') format('woff2'),
        url('../fonts/capitolium2-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


.frank-regular {
    font-family: 'New Frank Regular';
}

.frank-bold {
    font-family: 'New Frank Bold';
}

.capitolium {
    font-family: 'Capitolium2 Regular';
}

.scrollbar-button::-webkit-scrollbar-button {
    background-color: transparent;
    color: transparent;
}


* {
    padding: 0;
    margin: 0;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slideIn {
    animation: slideIn 0.3s ease-out;
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
}

@keyframes glow {

    0%,
    100% {
        opacity: 0.7;
    }

    50% {
        opacity: 1;
    }
}

.glow-effect {
    animation: glow 2s ease-in-out infinite;
}